@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  /* bacgraund-colors */
  --darc-bg-cl: #2f303a;
  --main-bg-cl: #fff;
  --secondary-bg-cl: #f5f4fa;
  /* grid items */
  --items: 1;
  --indent: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* логічний заголовок */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.42px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.link:hover, .link:focus {
  color: #2196f3;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*  
    |=============================
    | Сітка для колекції з елементов 
    |=================================
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) -1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) -1)) / var(--items));
}

.btn {
  background-color: #2196f3;
  min-width: 152px;
  min-height: 30px;
  width: 200px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px, 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
  border-radius: 4px;
  background-color: var(--accent-cl);
}

/* 
|=====================
|  = header section =
======================
*/
.header {
  background: var(--main-bg-cl);
  border-bottom: 1px solid #ececec;
}

.heder__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Логотип logo */
.logo {
  margin-right: 93px;
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo__part {
  color: var(--secondary-txt-cl);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

/*   Oсновна новігація сайту  navigation   */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigation__title.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

.navigation__title {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/*   header__grup   */
.header-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.header-grup__item {
  margin-right: 50px;
}

.header-grup__item:last-child {
  margin-right: 0;
}

.header-grup__mailto {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.header-grup__phone {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.mail:hover,
.mail:focus {
  color: var(--accent-cl);
}

.text:hover,
.text:focus {
  color: var(--accent-cl);
}

.studio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.studio-icon {
  margin-right: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */