/* ===========================
== section Portfolio        
=============================*/
.portfolio {
    background-color: var(--main-bg-cl);
}

.portfolio-list {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.portfolio-item {
    margin-right: 8px;
}

.portfolio-item:last-child {
    margin-right: 0;
}

.portfolio-all-btn {
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6.5px;
    padding-left: 25px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    width: 73px;
    height: 38px;
    background: var(--accent-cl);
    color: var(--main-bg-cl);
    border-color: transparent;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-all-btn:hover,
.portfolio-all-btn:focus {
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    width: 73px;
    height: 38px;
}

.portfolio-btn {
    display: block;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    background-color: var(--secondary-bg-cl);
    border-color: transparent;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    border-radius: 4px;
    color: var(--secondary-bg-cl);
    background-color: var(--accent-cl);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.img-portfolio-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blok-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.blok-link:hover,
.blok-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.blok-link:hover .portfolio-overlay {
    transform: translateY(0);
}

.blok-thumb {
    position: relative;
    display: block;
    overflow: hidden;
}

.portfolio-overlay {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-cl);
    transform: translatey(100%);
    transition: transform 250ms var(--timing-function);
}

.thumb-desc {
    position: absolute;
    width: 322px;
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.img-portfolio-item {
    width: 370px;
    --items: 3;
}

.portfolio-blok {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid #eee;
    border-right: solid #eee;
    border-left: solid #eee;
}

.portfolio-title {
    color: var(--secondary-txt-cl);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.portfolio-desc {
    margin-top: 4px;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}